<%= form_for @gal, html: {multipart: true}, remote: remote do |f| %>

	<%= render :partial => 'gal_images/embedded_form', locals: {f: f, remote: true} %>
	
	<div class="row">
		<div class="col-md-12">
			<%= f.submit class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<% @gal_image = GalImage.new %>
<%= render :partial => 'gal_images/form', locals: {gal: @gal} %>





